<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Demand Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>
        Demand number: <span th:text="${demand.id}"> </span>
    </h1>
    <p>
        Demand instant: <span
            th:text="${#dates.format(demand.time, 'dd/MM/yyyy hh:mm')}"></span>
    </p>
    <p>
        Customer: <span th:text="${demand.customer.name}"></span>
    </p>
    <p>
        Payment status: <span
            th:text="${demand.payment.state.description}"></span>
    </p>
    <h3>Demand details:</h3>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unity price</th>
            <th>Subtotal</th>
        </tr>
        <tr th:each="item : ${demand.demandItems}">
            <td th:text="${item.product.name}">name</td>
            <td th:text="${item.quantity}">quantity</td>
            <td th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2,'COMMA')}">price</td>
            <td th:text="${#numbers.formatDecimal(item.subtotal, 0, 'POINT', 2,'COMMA')}">subTotal</td>
        </tr>
    </table>
    <p>
        Valor total: <span th:text="${#numbers.formatDecimal(demand.total, 0,'POINT', 2, 'COMMA')}"></span>
    </p>
</div>
</body>
</html>